@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #993342;

}
.profile-card{
      display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background-color: #ececec;
    border-radius: 24px;
    padding: 25px;

    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: #cae97d;
    padding: 3px;
    margin-bottom: 10px;
}

.image .profile-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 3px;
    border:3px solid #111110;
}

.profile-card .text-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-data .name {
    font-size: 22px;
    font-weight: 500;
}

.text-data .job {
    font-size: 15px;
    font-weight: 400;
}